body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #efedf6;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  box-shadow: rgb(48 42 51 / 24%) 0px 3px 8px;
  background-color: white;
}